/*****************     Color Palette     *******************/

/*

1) #222a75
2) #eec22d
3) #white

*/


/*****************     Overall     *******************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Epunda Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


/*****************     Header     *******************/

header {
    display: flex;
    justify-content: space-between;
    background-color: #222a75;
    padding: 10px 20px;
}

.title {
    display: flex;
    align-items: center;
}

.title img {
    display: block;
    width: 90px;
    height: 90px;
}

.title span {
    padding-inline: 10px;
    font-size: 25px;
    font-weight: 800;
    color: #eec22d;
}


/*****************     Hamburger     *******************/

.hamburger {
    display: block;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}


/*****************     Navigation     *******************/

.navigation {
    background-color: #eec22d;
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 15px;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.navigation li.current {
    text-decoration: underline;
}

.navigation a:hover {
    background-color: white;
    font-weight: bolder;
    font-style: italic;
}


/*****************     Main Content     *******************/

main h1 {
    font-weight: 600;
    margin: 1.5rem 20px;
}

.view {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.view button {
    background-color: #222a75;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

.view button:hover {
    background-color: #eec22d;
    color: black;
    font-weight: bolder;
    font-style: italic;
}


/*****************     Businesses Directory     *******************/

/* Grid View */

.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    align-items: center;
    justify-items: center;
    gap: 30px;
    margin-bottom: 40px;
}

.grid-view .member {
    width: 350px;
    border: #222a75 solid 2px;
    box-shadow: #686868 5px 5px 8px;
    padding: 20px;
}

.grid-view .member h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    padding-block: 10px;
}

.grid-view .member p {
    text-align: center;
    line-height: 1.6;
}

.grid-view .member .business-info {
    padding: 20px;
    font-size: 15px;
}

.grid-view .member img {
    display: block;
    margin: 0 auto;
    padding: 20px;
    width: 200px;
    height: auto;
    animation: fade 10s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.grid-view .member a {
    font-size: 20px;
    display: block;
    text-align: center;
}

.grid-view .member a:hover {
    color: #eec22d;
}


/* List View */

.list-view {
    flex-direction: column;
    align-items: center;
}

.list-view .member {
    border: #222a75 solid 2px;
    box-shadow: #686868 5px 5px 8px;
    margin: auto;
    margin-bottom: 30px;
    max-width: 25rem;
    padding: 20px;
}

.list-view .member img {
    display: none;
}

.list-view .member h2 {
    font-size: 25px;
    font-weight: 700;
    padding-block: 10px;
    color: #222a75;
}

.list-view .member p {
    font-size: 15px;
    line-height: 1.2;
    padding-block: 5px;
}

.list-view .member a {
    font-size: 18px;
}

.list-view .member a:hover {
   color: #eec22d;
}


/*****************     Footer     *******************/

footer {
    background-color: #222a75;
    padding: 1rem 10px;
    text-align: center;
}

.info-1, .info-2 {
    margin-block: 30px;
}

.info-1 p, .info-2 p {
    text-align: left;
    font-size: 20px;
    color: white;
    line-height: 1.2;
    font-weight: 300;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    padding-block: 10px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: #eec22d solid 2px;
    background-color: white;
    border-radius: 35px;
}

.social img {
    border-radius: 35px;
    width: 45px;
    height: 45px;
}

.social a:hover {
    background-color: #eec22d;
}

#lastModified {
    font-weight: 700;
    font-style: italic;
}