@media only screen and (min-width: 900px) {
    header, main, nav, footer {
        max-width: 80rem;
        margin: 0 auto;
    }

    /* Nav & Hamburger */

    header {
        align-items: center;
    }

    .hamburger {
        display: none;
    }

    nav {
        margin: 20px
    }

    .navigation {
        display: block;
        font-size: 20px;
    }

    .navigation ul {
        display: flex;
        list-style: none;
    }

    .navigation li {
        padding-inline: 15px;
    }


    /* Directory List View */

    .list-view .member {
        display: grid;
        grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
        margin: 0;
        margin-bottom: 20px;
        padding: 10px;
        max-width: 70rem;
    }

    .list-view .member h2 {
        padding-inline: 20px;
    }

    .list-view .member p {
        padding-inline: 20px;
    }


    /* Footer */

    footer {
        margin-top: 50px;
    }

    .footer-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    .info-left p, .info-right p {
        padding-inline: 20px;
    }
}