@media only screen and (min-width: 64rem) {
    header, main, nav, footer {
        max-width: 80rem;
        margin: 0 auto;
    }

    /* Nav & Hamburger */

    header {
        align-items: center;
    }

    .hamburger {
        display: none;
    }

    nav {
        margin: 20px
    }

    .navigation {
        display: block;
        font-size: 20px;
    }

    .navigation ul {
        display: flex;
        list-style: none;
    }

    .navigation li {
        padding-inline: 15px;
    }
    

    /* All places cards */

    #allplaces {
        display: grid;
        grid-template-columns: 1fr 1fr
    }

    #allplaces div {
        grid-template-areas:
        "name name"
        "photo description"
        "photo address"
        "photo button";
    }

    #allplaces div h2 {
        margin: 0;
        font-size: 25px;
        padding: 10px;
        text-align: center;
        color: white;
        background-color: #222a75;
    }

    #allplaces div img:hover {
        box-shadow: 0 0 50px #333;
    }

    #allplaces div p {
        padding-top: 15px;
    }


    /* Footer */

    footer {
        margin-top: 50px;
    }

    .footer-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    .info-left p, .info-right p {
        padding-inline: 20px;
    }
}