/*****************     Color Palette     *******************/

/*

1) #222a75
2) #eec22d
3) #white

*/


/*****************     Overall     *******************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Epunda Slab", serif;
    font-weight: 500;
}


/*****************     Header     *******************/

header {
    display: flex;
    justify-content: space-between;
    background-color: #222a75;
    padding: 10px 20px;
}

.title {
    display: flex;
    align-items: center;
}

.title img {
    display: block;
    width: 90px;
    height: 90px;
}

.title span {
    padding-inline: 10px;
    font-size: 25px;
    font-weight: 800;
    color: #eec22d;
}


/*****************     Hamburger     *******************/

.hamburger {
    display: block;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}


/*****************     Navigation     *******************/

.navigation {
    background-color: #eec22d;
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 15px;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.navigation li.current {
    text-decoration: underline;
}

.navigation a:hover {
    background-color: white;
    font-weight: bolder;
    font-style: italic;
}


/*****************     Main Content     *******************/

main h1 {
    font-weight: 600;
    margin: 1.5rem 20px;
}


/*****************     Grid     *******************/

#allplaces div {
    margin: 1rem 8px;
    border: 1px solid #222a75;
    border-radius: 10px;
    display: grid;
    grid-template-areas:
    "name"
    "photo"
    "description"
    "address" ;
}

#allplaces div h2 {
    margin: 1rem 10px;
    grid-area: name;
}

#allplaces div img {
    width: 100%;
    grid-area: photo;
    border-radius: 10px;
}

#allplaces div p {
    margin: 1rem 10px;
    grid-area: description;
}

#allplaces div address {
    margin: 1rem 10px;
    grid-area: address;
}


/*****************     Footer     *******************/

footer {
    background-color: #222a75;
    padding: 1rem 30px;
    text-align: center;
    margin-top: 50px;
}

.info-left, .info-right {
    margin-block: 30px;
}

.info-left p, .info-right p {
    text-align: left;
    font-size: 20px;
    color: white;
    line-height: 1.2;
    font-weight: 300;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    padding-block: 10px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: #eec22d solid 2px;
    background-color: white;
    border-radius: 35px;
}

.social img {
    border-radius: 35px;
    width: 45px;
    height: 45px;
}

.social a:hover {
    background-color: #eec22d;
}

#lastModified {
    font-style: italic;
}