/*****************     Color Palette     *******************/

/* Light Blue Theme

1) #3A0519
2) #670D2F
3) #A53860
4) #EF88AD
5) ##636363

*/


/*****************     Overall     *******************/

* {
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
}


/*****************     Header     *******************/

header {
    display: grid;
    grid-template-columns: 48px auto 48px;
    padding: 5px 0 8px 10px;
    align-items: end;
    border-bottom: solid 1px #636363;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 25px;
    font-weight: 700;
    color: #3A0519;
}

h1 {
    margin: 1rem 10px;
}


/*****************     Hamburger     *******************/

.hamburger {
    background: none;
    border: none;
    color: #3A0519;
    cursor: pointer;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}


/*****************     Navigation     *******************/

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: #3A0519;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: #ddd;
}

.navigation a:hover {
    background-color: #EF88AD;
}


/*****************     Footer     *******************/

footer {
    background-color: #EF88AD;
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border: #3A0519 solid 1px;
    border-radius: 25px;
}

.social img {
    width: 25px;
    height: 25px;
}

.social a:hover {
    background-color: white;
}