@media only screen and (min-width: 60em) {
    header {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        border-bottom: #12121E solid 15px;
    }

    header h2 {
        font-size: 55px;
        letter-spacing: 10px;
        margin-bottom: 20px;
    }

    .logo {
        margin-top: 20px;
    }
    
    header button {
        font-size: 40px;
        position: absolute;
        right: 3rem;
        top: 3rem;
    }

    .navigation {
        display: flex;
        font-size: 20px;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
    }

    #menu {
        display: none;
    }

    .text-box {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .base {
        margin-inline: 15rem;
    }

    .section-content {
        font-size: 18px;
    }

    .footer-info {
        font-size: 20px;
    }

    .social img {
        width: 50px;
        height: 50px;
    }

    .social a {
        width: 50px;
        height: 50px;
        margin-inline: 15px;
    }
}