/*****************     Palette     *******************/
/*

    Red:    #B01124 
            #ff0000 
    Black:  #12121e 
    Yellow: #ffff00

*/

/*****************     Overall     *******************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Grenze Gotisch", serif;
}

body {
    background-color: #12121e;
}


/*****************     Header     *******************/

header {
    display: flex;
    justify-content: space-between;
    background-color: #12121e;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

header h1 {
    padding-inline: 10px;
    font-size: 45px;
    font-weight: 800;
    text-align: center;
    color: white;
    text-shadow: 0 0 4px #B01124;
}

header button {
    background-color: #12121e;
    color: white;
    border: none;
    font-size: 30px;
}


/*****************     Navigation/Hamburger    *******************/

#menu {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    text-decoration: none;
    padding: 2rem 0.5rem;
    color: white;
}

#menu::before {
    content: "≡";
}

nav {
    background-color: #B01124;
}

.navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 700px;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 15px;
    text-align: left;
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 0.5s;
}

.navigation a:hover,
.navigation a:active {
    color: black;
    background-color: white;
}

.navigation li.current {
    text-decoration: underline;
    color: white;
}

.show li {
    display: block;
}

#menu.show::before {
    content: "X";
    font-family: 'Courier New', Courier, monospace;
}


/***************     Glitch Anumation Title     *******************/

.text-box {
    margin-bottom: 2.5rem;
    text-align: center;
}

@keyframes glitch-anim {
    0% {
        text-shadow: 2px 0 0 #ff00ff, -2px 0 0 #00ffff;
        transform: translate(0);
    }

    15% {
        text-shadow: 2px 0 0 #ff00ff, -2px 0 0 #00ffff;
        transform: translate(0);
    }

    16% {
        text-shadow: -2px 2px 0 #ff00ff, 2px -2px 0 #00ffff;
        transform: translate(3px, -3px);
    }

    18% {
        text-shadow: 2px 2px 0 #ff00ff, -2px -2px 0 #00ffff;
        transform: translate(-3px, 3px);
    }

    20% {
        text-shadow: 0 0 0 #ff00ff, 0 0 0 #00ffff;
        transform: translate(0);
    }

    100% {
        text-shadow: 0 0 0 #ff00ff, 0 0 0 #00ffff;
        transform: translate(0);
    }
}
        
.glitch-title {
    color: #ff0000;
    position: relative;
    animation: glitch-anim 2s infinite alternate steps(1);
}

.glitch-title::before, .glitch-title::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.glitch-title::before {
    text-shadow: 2px 0 0 #ff00ff;
    clip-path: inset(0 0 100% 0);
    animation: glitch-anim-before 1.5s infinite alternate-reverse steps(1);
}
        
.glitch-title::after {
    text-shadow: -2px 0 0 #00ffff;
    /* Cyan shadow */
    clip-path: inset(0 0 100% 0);
    animation: glitch-anim-after 1.5s infinite alternate steps(1);
}
        
@keyframes glitch-anim-before {
    0% {
        clip-path: inset(70% 0 5% 0);
    }

    50% {
        clip-path: inset(20% 0 70% 0);
    }

    100% {
        clip-path: inset(5% 0 70% 0);
    }
}

@keyframes glitch-anim-after {
    0% {
        clip-path: inset(20% 0 70% 0);
    }

    50% {
        clip-path: inset(5% 0 70% 0);
    }

    100% {
        clip-path: inset(70% 0 5% 0);
    }
}

.title-style {
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.subtitle-text {
    color: #b0b0b0;
    font-size: 1rem;
    margin-inline: 3rem;
}

.text-box {
    margin-bottom: 0;
    text-align: center;
}


/***************     About Us Content     *******************/

.base {
    margin-inline: 30px;
}

.content-card {
    margin-block: 30px;
    background-color: #1a1a1a;
    border: 2px solid #B01124;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 15px #ff00004d;
    color: white;
    text-align: left;
}

.section-header {
    font-size: 25px;
    color: #ffff00;
    border-bottom: 2px solid #ffff00;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: 900;
}

.section-content {
    font-size: 15px;
    line-height: 1.5;
    color: #d4d4d4;
    margin-bottom: 30px;
}

.video-link a {
    font-size: 20px;
    text-decoration: none;
    color: #d4d4d4;
}

.video-link a:hover {
    color: #B01124;
}


/*****************     Light Mode     *******************/

.light-mode {
    background-color: #ffffff;
    color: #12121e;
}

.light-mode header {
    background-color: #12121e;
}

.light-mode .logo h1 {
    color: #12121e;
    text-shadow: 0 0 4px #ff0000;
}

.light-mode .subtitle-text {
    color: #3e3e3e;
}

.light-mode .content-card {
    background-color: #f5f5f5;
    border: 3px solid #ff0000;
    box-shadow: 0 4px 15px #ffff0066;
    color: #12121e;
}

.light-mode .section-header {
    color: #B01124;
    border-bottom: 2px solid #ff0000;
}

.light-mode .section-content {
    color: #12121e;
}


/*****************     Footer     *******************/

.footer-info {
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    background-color: #B01124;
    color: white;
    padding: 20px 30px;
}

.social {
    display: flex;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    margin-inline: 5px;
}

.social img {
    border-radius: 35px;
    width: 35px;
    height: 35px;
}