@media only screen and (min-width: 40em) {
    .hero-image img {
        width: 100%;
        height: 25em;
    }

    header {
        padding: 0 20px;
    }

    header h2 {
        letter-spacing: 5px;
    }

    #cta {
        bottom: 4rem;
        left: 3rem;
    }
    
    .forecast-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .spotlight-item {
        margin-inline: 0;
    }
    
    .spotlight-list {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
}