@media only screen and (min-width: 60rem) {
    header {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        border-bottom: #12121E solid 15px;
    }

    header h2 {
        font-size: 55px;
        letter-spacing: 10px;
        margin-bottom: 20px;
    }

    .logo {
        margin-top: 20px;
    }
    
    header button {
        font-size: 40px;
        position: absolute;
        right: 3rem;
        top: 3rem;
    }

    .navigation {
        display: flex;
        font-size: 20px;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
    }

    #menu {
        display: none;
    }
    
    .main-layout {
        padding-top: 20px;
        max-width: 70rem;
        margin-left: auto;
        margin-right: auto;        
    }

    .text-box h2 {
        margin-top: -30px;
    }

    .subtitle-text {
        font-size: 15px;
        margin-bottom: 1.5rem;
    }

    #list, #allplatforms, #allyoutubers {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    #allplatforms, #allyoutubers {
       margin-bottom: 4rem; 
    } 

    #list {
        margin-top: 0;
        margin-bottom: 5rem;
    }

    .card.open {
        grid-column: 1 / -1;
        width: 55%;
        display: block;
        margin: auto;
    }

    .image-container img {
        width: 300px;
        height: 300px;
    }
    
    .card {
        margin-bottom: 0;
    }

    .desc-text {
        font-size: 20px;
        line-height: 1;
        text-align: center;
    }

    .genres {
        text-align: center;
        padding-bottom: 5px;
    }

    .genre-text {
        font-size: 15px;
        margin: 0 10px;
    }

    .desc-text, .meta-box, .review_panel, .link-action {
        margin-inline: 20px;
    }
    
    .meta-box, .platform-tag, .review_panel h3 {
        font-size: 20px;
    }

    .link-action {
        font-size: 15px;
    }

    .text-box {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    #allplatforms div, #allyoutubers div {
        margin: 0;
        display: grid;
        grid-template-areas:
        "title"
        "photo"
        "description"
        "price"
        "link";
   }

    #allplatforms div h2, #allyoutubers div h2 {
        margin: 0;
        font-size: 25px;
        padding: 10px;
        text-align: center;
    }
    
    #allplatforms div img:hover, #allyoutubers div img:hover {
        box-shadow: 0 0 50px #333;
    }

    .footer-info {
        font-size: 20px;
    }

    .social img {
        width: 50px;
        height: 50px;
    }

    .social a {
        width: 50px;
        height: 50px;
        margin-inline: 15px;
    }
}