@media only screen and (min-width: 35rem) {
    .hero-image img {
        width: 100%;
        height: 25em;
    }

    header {
        padding: 0 20px;
    }

    header h2 {
        letter-spacing: 10px;
    }

    #cta {
        bottom: 4rem;
        left: 3rem;
    }

    #list, #allplatforms, #allyoutubers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-bottom: 2rem;
    }

    #list {
        margin-top: 2.5rem;
    }

    #allplatforms div, #allyoutubers div {
        margin: 1rem 5px;
    }

    .card.open {
        grid-column: 1 / -1;
        width: 60%;
        display: block;
        margin: auto;
    }

    .image-container img {
        display: block;
        margin: auto;
        width: 250px;
        height: 250px;
        border-radius: 5px;
        margin-bottom: 15px;
    }

    .text-box {
        margin-top: 0;
        margin-bottom: 0.5rem;
    }
}