/*****************     Palette     *******************/
/*

        < Dark Theme Palette>
    --bg-dark: #12121E;
    --accent-red: #B01124;
    --accent-light: #FF4655;
    --text-secondary: #A7A9BA;
    --text-main: #E6E6E9;

*/

/*****************     Overall     *******************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Grenze Gotisch", serif;
}

body {
    background-color: #12121E;
    color: #FAFAFC;
}


/*****************     Header     *******************/

header {
    display: flex;
    justify-content: space-between;
    color: #F0F0F4;
    text-shadow: 0 0 5px #B01124;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    display: block;
    width: 100px;
    height: 100px;
}

header h1 {
    padding-inline: 10px;
    font-size: 45px;
    font-weight: 800;
    text-align: center;
    color: #E6E6E9;
    text-shadow: 0 0 5px #B01124;
}


/*****************     Navigation/Hamburger    *******************/

#menu {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    text-decoration: none;
    padding: 2rem 0.5rem;
    color: #F0F0F4;
}

#menu::before {
    content: "≡";
}

nav {
    background-color: #B01124;
}

.navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 700px;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 15px;
    text-align: left;
    text-decoration: none;
    color: #F0F0F4;
    font-weight: 700;
    transition: 0.5s;
}

.navigation a:hover,
.navigation a:active {
    color: #12121E;
    background-color: #F0F0F4;
}

.navigation li.current {
    text-decoration: underline;
    color: #E6E6E9;
}

.show li {
    display: block;
}

#menu.show::before {
    content: "X";
    font-family: 'Courier New', Courier, monospace;
}


/***************     Light/Dark Mode     *******************/

header button {
    border: none;
    font-size: 30px;
}

#theme-toggle {
    background: transparent;
    text-shadow: 0 0 5px #B01124;
    transition: all 0.3s ease;
}

#theme-toggle:hover {
    color: #FF4655;
    text-shadow: 0 0 10px #FF4655;
    border-color: #FF4655;
}

.glitch-flicker {
    animation: flicker-glitch 0.3s steps(2, start) forwards;
}

@keyframes flicker-glitch {
    0% {
        opacity: 1;
        filter: none;
        transform: none;
    }

    20% {
        opacity: 0.3;
        filter: blur(1px);
        transform: translateX(-1px);
    }

    40% {
        opacity: 0.8;
        filter: contrast(2);
        transform: translateX(1px);
    }

    60% {
        opacity: 0.5;
        filter: brightness(2);
        transform: translateY(1px);
    }

    80% {
        opacity: 1;
        filter: none;
        transform: none;
    }

    100% {
        opacity: 1;
        filter: none;
    }
}


/***************     Glitch Title     *******************/

@keyframes glitch-anim {
    0% {
        text-shadow: 2px 0 0 #ff00ff, -2px 0 0 #00ffff;
        transform: translate(0);
    }

    15% {
        text-shadow: 2px 0 0 #ff00ff, -2px 0 0 #00ffff;
        transform: translate(0);
    }

    16% {
        color: #ff0000;
        text-shadow: -2px 2px 0 #ff00ff, 2px -2px 0 #00ffff;
        transform: translate(3px, -3px);
    }

    18% {
        text-shadow: 2px 2px 0 #ff00ff, -2px -2px 0 #00ffff;
        transform: translate(-3px, 3px);
    }

    20% {
        color: #ff0000;
        text-shadow: 0 0 0 #ff00ff, 0 0 0 #00ffff;
        transform: translate(0);
    }

    100% {
        text-shadow: 0 0 0 #ff00ff, 0 0 0 #00ffff;
        transform: translate(0);
    }
}

.glitch-title {
    color: white;
    position: relative;
    animation: glitch-anim 2s infinite alternate steps(1);
}

.glitch-title::before,
.glitch-title::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.glitch-title::before {
    text-shadow: 2px 0 0 #ff00ff;
    clip-path: inset(0 0 100% 0);
    animation: glitch-anim-before 1.5s infinite alternate-reverse steps(1);
}

.glitch-title::after {
    text-shadow: -2px 0 0 #00ffff;
    clip-path: inset(0 0 100% 0);
    animation: glitch-anim-after 1.5s infinite alternate steps(1);
}

@keyframes glitch-anim-before {
    0% {
        clip-path: inset(70% 0 5% 0);
    }

    50% {
        clip-path: inset(20% 0 70% 0);
    }

    100% {
        clip-path: inset(5% 0 70% 0);
    }
}

@keyframes glitch-anim-after {
    0% {
        clip-path: inset(20% 0 70% 0);
    }

    50% {
        clip-path: inset(5% 0 70% 0);
    }

    100% {
        clip-path: inset(70% 0 5% 0);
    }
}

.title-style {
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.subtitle-text {
    color: #b0b0b0;
    font-size: 1rem;
    margin-inline: 3rem;
}

.text-box {
    margin-top: 0;
    margin-bottom: 2rem;
    text-align: center;
}


/***************     Review Section     *******************/

.main-layout {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#list, #allyoutubers, #allplatforms {
    margin-bottom: 5rem;
}

.platform-tag {
    background-color: #333333;
    font-size: 0.75rem;
    padding: 0.125rem 0.5rem;
    border-radius: 9999px;
}

.genre-text {
    color: #b0b0b0;
    font-size: 0.75rem;
}

.desc-text {
    color: #b0b0b0;
    font-size: 0.875rem;
    margin-bottom: 0.75rem;
    line-height: 1.5;
}

.meta-box {
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    border-top: 1px solid #444444;
    padding-top: 0.75rem;
}

.meta-label {
    color: #ffffff;
    font-weight: 700;
}

.free-cost {
    color: #00FF19;
}

.paid-cost {
    color: #ffa64d;
}

.platform-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding-top: 0.5rem;
}

.review-title {
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.review-text {
    font-size: 1rem;
    font-style: italic;
    color: #e6e6e6;
}

.link-action {
    margin-top: 1rem;
    display: inline-block;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1em;
    transition: opacity 0.2s;
}

.link-action:hover {
    opacity: 0.75;
}

.card {
    position: relative;
    background-color: #1A1A25;
    color: #E6E6E9;
    border: 1px solid #ffffff1a;
    border-radius: 5px;
    box-shadow: 0 5px 10px #0000004d;
    cursor: pointer;
    transition: all 0.3s ease;
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 10px;
    min-height: 80px;
    margin-bottom: 24px;
}

.card:hover:not(.open) {
    background-color: #20202d;
    box-shadow: 0 5px 15px #00000066;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border-radius: 8px 8px 0 0;
    z-index: 1;
    transition: all 0.3s ease;
}

.card-tab {
    position: absolute;
    top: 0;
    height: 40px;
    padding: 0 20px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: white;
    z-index: 2;
    transition: all 0.3s ease;
}

.card:not(.open) .card-tab {
    width: 100%;
    left: 0;
    right: 0;
    border-radius: 8px 8px 0 0;
}

.card.open .card-tab {
    width: 100%;
    left: 0;
    right: 0;
    opacity: 1;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #ffffff33;
    clip-path: none;
}

.card.open::before {
    background-color: #20202d;
    box-shadow: 0 -2px 5px #00000033;
}

.tier-label {
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 0.5rem;
    border: 1px solid white;
    color: white;
    margin-right: 15px;
}

.tier-label, .text-base {
    font-family: 'Times New Roman', Times, serif;
}

.tier-vault .tier-label {
    border-color: #111;
    color: #111;
}

.tier-index .tier-label {
    border-color: white;
    color: white;
}

.image-container img {
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.card-content {
    max-height: 0;
    opacity: 0;
    padding: 0 20px;
    color: #e6e6e6;
    transition: max-height 0.5s ease-in-out, opacity 0.3s 0.2s;
    pointer-events: none;
}

.card.open {
    min-height: auto;
    padding-bottom: 20px;
    border-color: #ffffff4d;
}

.card .card-tab h2,
.card.open .card-tab h2 {
    font-size: 1rem;
}

.card.open .card-content {
    max-height: 1000px;
    opacity: 1;
    padding: 15px 20px 0;
    pointer-events: auto;
}

.review_panel {
    background-color: #101018;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 1rem;
    border: 1px solid #ffffff1a;
}


/***************     Platform/Youtubers Cards     *******************/

#allplatforms div, #allyoutubers div {
    border: 1px solid #ffffff1a;
    box-shadow: 0 5px 10px #0000004d;
    transition: transform 0.2s, box-shadow 0.2s;
    margin: 2rem 20px;
    padding: 10px 20px;
    border-radius: 10px;
    display: grid;
    grid-template-areas:
        "title"
        "photo"
        "description"
        "price"
        "link";
}

#allplatforms div:hover,
#allyoutubers div:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px #ff000033;
}

#allplatforms div h2,
#allyoutubers div h2 {
    margin: 0;
    padding-block: 10px;
    font-weight: 700;
    font-size: 25px;
    border-bottom: 1px solid #ffffff1a;
    color: white;
    text-align: center;
    grid-area: title;
    color: #ffff00;
}

#allplatforms div img,
#allyoutubers div img {
    display: block;
    height: 200px;
    width: 100%;
    margin: 1rem 10px;
    grid-area: photo;
    margin-left: auto;
    margin-right: auto;
}

#allyoutubers div img {
    width: 200px;
}

#allplatforms div p,
#allyoutubers div p {
    margin: 1rem 10px;
    font-weight: 500;
    font-size: 20px;
    grid-area: description;
    color: white;
}

#allplatforms div span,
#allyoutubers div ul {
    margin: 0 10px;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    grid-area: price;
    color: white;
}

#allplatforms div a,
#allyoutubers div a {
    margin: 2rem 10px;
    grid-area: link;
    border-radius: 10px;
    text-align: center;
    background-color: #B01124;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin-inline: 20px;
}

#allplatforms div a:hover,
#allyoutubers div a:hover {
    background-color: white;
    color: black;
    font-weight: 800;
    font-style: italic;
}


/*****************     Footer     *******************/

.footer-info {
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    background-color: #B01124;
    color: white;
    padding: 20px 30px;
}

.social {
    display: flex;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    margin-inline: 5px;
    background-color: #B01124;
}

.social img {
    border-radius: 35px;
    filter: brightness(0) invert(1);
    width: 35px;
    height: 35px;
}

.info a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.info a:hover {
    color: #ffff00;
}


/*****************     Light Mode     *******************/


/* Transition */

body {
    transition:
        background-color 0.6s ease,
        color 0.6s ease,
        filter 0.4s ease;
}

body.theme-switching {
    animation: glitch-flash 0.4s ease-in-out;
}

@keyframes glitch-flash {
    0% {
        filter: brightness(0) contrast(1.5);
    }

    20% {
        filter: brightness(3) contrast(1.2);
    }

    40% {
        filter: brightness(0.8) contrast(2);
    }

    60% {
        filter: brightness(2) contrast(0.8);
    }

    100% {
        filter: brightness(1) contrast(1);
    }
}