@media only screen and (min-width: 700px) {
    .content {
        max-width: 850px;
    }

    h2 {
        margin-left: 2rem;
    }

    h3 {
        margin-left: 3rem;
    }

    h2, h3 {
        margin-inline-end: 5rem;
    }

    h4, p, img {
        margin-left: 4rem;
    }

    p, li {
        margin-inline-end: 7rem;
    }

    img {
        width: 30%;
    }

    ul {
        margin-inline-start: 3rem;
        
    }

    .primary, .secondary {
        margin-inline: 4rem;
        margin-inline-end: 7rem;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
        gap: 0;
    }
}